<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Nuevo Tour</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form action="/Tour/nuevo" method="post">
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" id="nombre" required data-validation-required-message="Escriba el nombre del tour.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Fecha</label>
              <input type="date" class="form-control" placeholder="Fecha" id="fecha" required data-validation-required-message="Ingrese la fecha del tour.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Precio</label>
              <input type="number" class="form-control" placeholder="Precio" id="precio" required data-validation-required-message="Ingrese el precio del tour." step="0.01" min="0">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Descripción</label>
              <textarea rows="5" class="form-control" placeholder="Descripcion" id="descripcion" required data-validation-required-message="Ingrese una descripcion del tour."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
